body {
  font-family: 'Roboto Mono', monospace;
}

.togglePicture {
  height: 80px;
  width: auto;
}

#knobContainer {
  margin: 50px 0 0 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* grid-gap: 10px; */
}

#toggleContainer {
  margin: 50px 0 0 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-gap: 10px; */
}

#header, .knobs, .toggles {
  margin: 0 auto;
  text-align: center;
}

#subtitle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#module {
  text-align: right;
  margin-right: 10px;
}

#channel {
  text-align: left;
  margin-left: 10px;
}
