html,
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Roboto Mono', monospace;
}

h1#headTitle:hover {
  cursor: pointer;
}

ul#consoleContainer {
  list-style-type: none;
  font-size: 14px;
  line-height: 25px;
  padding-left: 5px;
}

ul#consoleContainer li {
  border-bottom: solid 1px #80808038;
}

div.windowFrame {
  /* display: none; */
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  width: 100vw;
  height: 100vh;
}
